.App {
  text-align: center;
  color: white;
}

h1 {
  color: var(--verde-loro);
  font-size: 2rem;
  border: 4px solid var(--verde-loro);
  width: fit-content;
  margin: 2rem auto;
  padding: 1.5rem;
}

h3 {
  color: var(--verde-loro);
  font-size: 2rem;
  border-bottom: 4px solid var(--verde-loro);
  width: fit-content;
  margin: 1rem auto 3rem;
  padding: 1.5rem;
}

.app-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.app-links a {
  color: #61dafb;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.gifs-list {
  min-height: 100vh;
}

button {
  color: var(--verde-loro);
  font-size: 2rem;
  border: 4px solid var(--verde-loro);
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  background-color: black;
}